.hole-num {
	background: rgb(208, 226, 208);
	padding: 5px;
	text-align: center;
}
.hole-info {
	border-bottom: 2px solid green;

	.hole-par,
	.hole-distance {
		width: 50%;
		float: left;
		padding: 5px 10px;
	}
	.hole-distance {
		text-align: right;
	}
}

.player-score {
	width: 200px;
	height: 300px;
	margin: 15px auto;
	text-align: center;

	input {
		background: #eee;
		font-size: 120px;
		text-align: center;
	}

	.speech-button-wrap {
		margin-top: 25px;

		.js-stop-listen {
			display: none;
		}

		&.listening {
			.js-stop-listen {
				display: inline-block;
			}
			.js-listen {
				display: none;
			}
		}
	}
}

.hole-nav {
	.js-next-hole {
		display: block;
		float: right;
		padding: 0 25px;
	}
	.js-prev-hole {
		display: block;
		float: left;
		padding: 0 25px;
	}
}
