.hole-pager {
	position: relative;
	height: 100%;
	overflow: hidden;

	.hole-view {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		.transition(transform .5s ease-in-out);

		&.prev {
			.translateX(-100%);
		}
		&.next {
			.translateX(200%);
		}
	}

	.hole-view-inner {
		position: relative;
	}
}
.hole-num {
	background: rgb(208, 226, 208);
	padding: 5px;
	text-align: center;
}
.hole-info {
	border-bottom: 2px solid green;

	.hole-par,
	.hole-distance {
		width: 50%;
		float: left;
		padding: 5px 10px;
	}
	.hole-distance {
		text-align: right;
	}
}

.player-score {
	width: 200px;
	height: 300px;
	margin: 15px auto;
	text-align: center;

	input {
		background: #eee;
		font-size: 120px;
		text-align: center;
	}

	.speech-button-wrap {
		margin-top: 25px;

		.js-stop-listen {
			display: none;
		}

		&.listening {
			.js-stop-listen {
				display: inline-block;
			}
			.js-listen {
				display: none;
			}
		}
	}
}

.hole-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	height: 50px;
	border-top: 1px solid #eee;

	.nav-hole {
	    display: block;
	    float: left;
	    border: 0;
	    background: none;
	    cursor: pointer;
	    font-size: 1em;
	    font-family: 'Open Sans', sans-serif;
	    border-right: 1px solid #ddd;
	    margin: 0;
	    padding: 15px;
	    .transition(all .2s linear);

	    &.current {
	    	background: @green;
	    	color: white;
	    }
	}

	.nav-scroll {
		overflow-x: auto;
		margin: 0 85px;
	}

	.js-next-hole,
	.js-prev-hole {
		display: block;
		padding: 0 25px;
		position: absolute;
		top: 0;
		height: 100%;
		z-index: 1;
	}

	.js-next-hole {
		right: 0;
	}
	.js-prev-hole {
		left: 0;
	}
}
