@import "mixins.less";
@import "forms.less";
@import "sweet-alert.less";
@import "courses.less";
@import "location.less";
@import "scorecard.less";
@import "weather.less";
@import "header.less";
@import "home.less";
@import "loader.less";
@import "marketing.less"; /* TODO - marketing could be moved into it's own less file */

html {
    height: 100%;
    margin: 0;
}
body {
	margin: 0;
    min-height: 100%;
	font-family: 'Open Sans', sans-serif;
}
body.app {
	overflow: hidden !important;
	height: 100%;
}
.page-container {
    height: calc(e('100% - 60px'));
    overflow-y: auto;
}
#course-form {
	padding-top: 25px;
	form {
		border: 1px solid #aaa;
		padding: 25px;
	}
}
.hidden{
	display:none;
}
.loading{
	text-align: center;
	position: relative;
	width: 20em;
	height: 20em;
	margin: 6em auto 0 auto;
	color: #343434;
}
.sign-in{
	list-style: none;
}
.fa-big{
	font-size: 2em;
	margin: 0 0.25em 0 0;
}

/* intro */
body.authenticated .sign-in {
	display: none;
}