#weather-wrap {
	table{
		text-align: center;
		vertical-align: middle;
		font-size: 10pt;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2em;
		color: #343434;
		width: 40%;

		th{
			padding: 10px 0;

			&.tableTitle{
				font-size: 20pt;
				margin-bottom: -1.75em;
			}
		}

		td {
			padding: 1em;
			border: 1px solid #bbb;

			.wind-mph{
				text-align: center;
				vertical-align: middle;
				position: absolute;
				margin-left: 26.4em;
				margin-top: 5.55em;
				color: #3b3b3b;

				.north-n{
					font-size: 12pt;
					margin: -2em 0 1em 0;
					font-size: 14pt;
					z-index: 10;
				}
				.number{
					font-size: 40pt;
					width: 1.2em;
					margin: 0;
				}
				.unit{
					font-size: 14pt;
					margin: -0.75em 0 0 0;
				}
			}

			&#ch{
				width: 275px;
				height: 275px;
			}

			.crosshair-wrap{
				margin: -9.5em 0 0 -18em;
				position: center;
			}

			.station{
				font-weight: bold;
			}

			img{
				float: left;
				position: absolute;

				.wind-circle{
					z-index: -9 !important;
				}

				.wind-arrow{
					z-index: 1 !important;
				}
			}
		}
	}
}

@media screen and (max-width: 750px){
	#weather-wrap {
	table{
		text-align: center;
		vertical-align: middle;
		font-size: 10pt;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2em;
		color: #343434;
		width: 100%;

		th{
			padding: 10px 0;

			&.tableTitle{
				font-size: 20pt;
				margin-bottom: -1.75em;
			}
		}

		td {
			padding: 1em;
			border: 1px solid #bbb;

			.wind-mph{
				text-align: center;
				vertical-align: middle;
				position: absolute;
				margin-left: 26.4em;
				margin-top: 5.55em;
				color: #3b3b3b;

				.north-n{
					font-size: 12pt;
					margin: -2em 0 1em 0;
					font-size: 14pt;
					z-index: 10;
				}
				.number{
					font-size: 40pt;
					width: 1.2em;
					margin: 0;
				}
				.unit{
					font-size: 14pt;
					margin: -0.75em 0 0 0;
				}
			}

			&#ch{
				width: 275px;
				height: 275px;
			}

			.crosshair-wrap{
				margin: -9.5em 0 0 -18em;
				position: center;
			}

			.station{
				font-weight: bold;
			}

			img{
				float: left;
				position: absolute;

				.wind-circle{
					z-index: -9 !important;
				}

				.wind-arrow{
					z-index: 1 !important;
				}
			}
		}
	}
}
}